body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

#target {
    display: inline-block;
    margin: auto;
    width: 300px;
    height: 400px;
    margin: 100px;
    margin-bottom: 1000px;
    overflow: auto;
    background-color: #f1f1f1;
}

#child {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: rgb(136, 136, 136);
    color: white;
}

.bg-red {
    background-color: rgb(66, 0, 0) !important;
}

.bg-blue {
    background-color: rgb(43, 61, 226) !important;
}

.of-visible {
    overflow: scroll !important;
}

.dir-x {
    width: 400px;
    height: 300px;
    margin-left: 1500px;
}

.with-scroll-x {
    margin-right: 1000px;
    margin-left: 1000px;
}

.with-scroll-y {
    margin-top: 2000px;
    margin-bottom: 250px;
}

@for $i from 1 through 10 {
    .mt-#{$i}00 {
        margin-top: #{$i}00px !important;
    }

    .mb-#{$i}00 {
        margin-bottom: #{$i}00px !important;
    }

    .mr-#{$i}00 {
        margin-right: #{$i}00px !important;
    }

    .ml-#{$i}00 {
        margin-left: #{$i}00px !important;
    }

    .h-#{$i}00 {
        height: #{$i}00px !important;
    }

    .w-#{$i}00 {
        width: #{$i}00px !important;
    }
}